
<div class="modal" id="edit-subtask-modal">
    <div class="modal-background">
        <div class="modal-content animate__animated animate__zoomIn animate__faster">
            <div class="box" id="new-subtask-form">
                <div class="card">
                    <button class="delete"></button>
                    <div class="card-content">
                        <div class="title has-text-centered">Edit Subtask</div>
                        <form action="{{ url_for('add_subtask') }}" id="new-task" method="POST">

                            <div class="field">
                                <label class="label is-small" for="subtask">Subtask</label>
                                <div class="control">
										<textarea class="textarea is-primary is-small" id="subtask" name="subtask" required
                                                  rows="3"></textarea>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label is-small" for="completiontime">Approximate Time To Complete (Minutes)</label>
                                <div class="control">
                                    <input class="input is-primary is-small" id="completiontime" name="completiontime"
                                           required type="number">
                                </div>
                            </div>

                            <input id="complete" name="complete" type="hidden" value="0">
                            <input id="task_id" name="task_id" type="hidden" value="">
                            <input id="name" name="name" type="hidden" value="">
                            <footer class="card-footer">
                                <button class="button is-primary is-fullwidth m-2 js-modal-trigger" type="submit">Submit
                                </button>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
