<div class="modal" id="new-task-modal">
	<div class="modal-background">
		<div class="modal-content animate__animated animate__zoomIn">
			<div class="box" id="new-task-form">
				<div class="card">
					<button class="delete"></button>
					<div class="card-content">

						<form action="{{ url_for('index') }}" id="new-task" method="POST">
							<div class="field">
								<label class="label is-small" for="name">Todo Name</label>
								<div class="control">
									<input class="input is-primary is-small" id="name" name="name" required type="text">
								</div>
							</div>
							<div class="field">
								<label class="label is-small" for="priority">Priority</label>
								<div class="control">
									<div class="select is-primary is-small">
										<select id="priority" name="priority" required>
											<option>High</option>
											<option>Medium</option>
											<option>Low</option>
										</select>
									</div>
								</div>
							</div>
							<div class="field">
								<label class="label is-small" for="duedate">Due Date</label>
								<div class="control">
									<input class="input is-primary is-small" id="duedate" name="duedate" type="date">
									<div class="field">
										<label class="label is-small" for="body">Details</label>
										<div class="control">
										<textarea class="textarea is-primary is-small" id="body" name="body" required
										          rows="3"></textarea>
										</div>
									</div>
									<input id="complete" name="complete" type="hidden" value="0">
									<input id="raised" name="raiseddate" type="hidden">
								</div>
							</div>
							<footer class="card-footer">
								<button class="button is-primary is-fullwidth m-2" type="submit">Submit</button>
							</footer>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>