<div class="level">
	<div class="level-item has-text-centered">
		<div>
			<p class="heading">Item 1</p>
			<p class="heading">Subitem 1</p>
		</div>
	</div>
	<div class="level-item has-text-centered">
		<div>
			<p class="heading">Item 2</p>
			<p class="heading">Subitem 2</p>
		</div>
	</div>
	<div class="level-item has-text-centered">
		<div>
			<p class="heading title is-4">Todo List</p>
		</div>
	</div>
	<div class="level-item has-text-centered">
		<div>
			<p class="heading">Item 4</p>
			<p class="heading">Subitem 4</p>
		</div>
	</div>
	<div class="level-item has-text-centered">
		<div>
			<p class="heading">Item 5</p>
			<p class="heading">Subitem 5</p>
		</div>
	</div>
</div>
<div class="level">
	<div class="level-item">
		<button class="button is-info is-outlined is-small is-rounded" id="menu-button">Actions</button>
	</div>
</div>

<div class="menu p-1 m-1" id="action-menu">
	<hr class="body-div">
	<p class="menu-label has-text-centered">Todo Actions</p>
	<ul class="menu-list has-text-centered">
		<li>
			<button class="button is-primary is-outlined is-small is-rounded js-modal-trigger"
			        data-target="new-task-modal">Add Task
			</button>
		</li>
	</ul>
	<p class="menu-label has-text-centered">Priority Filters</p>
	<ul class="menu-list has-text-centered">
		<li>
			<form action="{{ url_for('priority') }}" method="post">
				<button class="button is-danger is-outlined is-small is-rounded" name="high" type="submit" value="high">
					High Priority
				</button>

				<button class="button is-warning is-outlined is-small is-rounded" name="medium" value="medium">Medium
					Priority
				</button>
				<button class="button is-info is-outlined is-small is-rounded" name="low" value="low">Low Priority
				</button>
				<button class="button is-info is-outlined is-small is-rounded" name="all" value="all">All Priorities
				</button>
			</form>
		</li>
	</ul>
	<p class="menu-label has-text-centered">Priority Filters</p>
	<ul class="menu-list has-text-centered">
		<li>
			<button class="button is-primary is-outlined is-small is-rounded js-modal-trigger"
			        data-target="new-task-modal">On List For More Than A Week
			</button>
		</li>
		<li>
			<button class="button is-primary is-outlined is-small is-rounded js-modal-trigger"
			        data-target="new-task-modal">Due In Next Week
			</button>
		</li>
	</ul>
</div>
<hr class="body-div">
