<div class="columns">
    <div class="column has-text-centered top-bar">
        <div>
            <div class="heading">Incomplete Todos</div>
            <div class="heading">{{ todo_total }}</div>
        </div>
    </div>

    <div class="column has-text-centered top-bar">
        <div><span class="heading title is-4">TODO</span>
            <button class="button action-button is-primary is-outlined is-small is-rounded js-modal-trigger"
                    data-target="new-task-modal">Add Task
            </button>
            <br><br>
            <button class="button action-button is-primary is-outlined is-small is-rounded" id="menu-button">Filters
            </button>
        </div>
    </div>
    <div class="column has-text-centered top-bar">
        <div>
            <div class="heading">Total Completion Time</div>
            {% if time == None %}
            <div class="heading">N/A</div>
            {% else %}
            <div class="heading">{{ time }} Minutes</div>
            {% endif %}
        </div>
    </div>
</div>


<div class="has-text-centered" id="action-menu">
    <hr class="body-div">
    <div class="action-menu-title">Priority Filters</div>
    <br>
    <form action="{{ url_for('query') }}" method="post">
        <button class="button action-button is-danger is-outlined is-small is-rounded" name="high"
                type="submit"
                value="high">
            High Priority
        </button>

        <button class="button action-button is-warning is-outlined is-small is-rounded" name="medium"
                value="medium">Medium
            Priority
        </button>
        <button class="button action-button is-info is-outlined is-small is-rounded" name="low" value="low">
            Low
            Priority
        </button>
        <br>
        <button class="button action-button is-info is-outlined is-small is-rounded" name="all" value="all">
            All
            Priorities
        </button>
    </form>
    <hr class="filter-div">
    <div class="action-menu-title">Time Filters</div>
    <br>
    <form action="{{ url_for('query') }}" method="post">
        <button class="button action-button is-primary is-outlined is-small is-rounded" name="over-week"
                value="over-week">On List For More Than A Week
        </button>
        <button class="button action-button is-primary is-outlined is-small is-rounded" name="due-week"
                value="due-week">Due In Next Week
        </button>
    </form>
    <hr class="filter-div">
    <div class="action-menu-title">Category Filters</div>
    <br>
    <form action="{{ url_for('query') }}" method="post">
        {% for c in categories %}
        <button class="button action-button is-primary is-outlined is-small is-rounded"
                name="category-query"
                value="{{ c }}">{{ c }}
        </button>
        {% endfor %}
    </form>
    <hr class="filter-div">
    <div class="action-menu-title">Completion Filters</div>
    <br>
    <form action="{{ url_for('query') }}" method="post">
        <button class="button action-button is-primary is-outlined is-small is-rounded" name="complete"
                value="1">Completed Tasks
        </button>
        <button class="button action-button is-primary is-outlined is-small is-rounded" name="incomplete"
                value="0">Incomplete Tasks
        </button>
    </form>
</div>
<hr class="body-div">