body {
	font-family: "Helvetica";
}

button.delete {
	position: absolute;
	top: 10px !important;
	right: 10px !important;
}

.buttons .button {
	margin-bottom: 0.1rem !important;
	margin-top: 0.1rem !important;
}

.card-footer-item {
	padding: 0.1rem;
	min-width: 5rem;
}

.todo-card#todo-card {
	width: 80%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;

}

.message-body {
	text-align: center;
}

.card-footer-item {
	border: 1px solid #ededed !important;
}

.card-footer-item:hover {
	border: 1px solid black !important;
}
text-area {
	white-space: pre-wrap;
}


.body_div {
	display: block;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: auto;
	margin-right: auto;
	width: 50rem;
	border-style: inset;
	border-width: 1px;
}

.todo-card#empty-card {
	width: 80%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 50px 15px #48abe0;
}

.box {
	margin-top: 5%;
	padding: 1%;
}

#toast-container {
	margin-top: 1%;
}

#action-menu {
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	height: 0;
	line-height: 0;
	padding: 0 1em;
}

#action-menu.show-menu {
	height: 26rem;
}

.todo-content {
	white-space: pre-wrap;
	word-break: break-word;
}

.modal-card,
.modal-content {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.modal-card,
.modal-content::-webkit-scrollbar {
	display: none;
}


#new-task-form {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: .25rem;
	margin-top: 3rem;
}

.body-div {
	width: 50rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.todo-div {
	margin-left: 0;
	margin-right: 0;
}

.footer {
	margin-top: 2rem;
	padding: 1.5rem !important;
}



.todo-info {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
	font-size: 12px;
}

.card-content {
	font-size: 14px;
}

table, td, th {
  text-align:center !important;
}
.subtask-content {
width:65%;
word-wrap: break-word;
word-break: break-all;
white-space: pre-line;
}

#action-menu {
width:100%;
}

.action-menu-title {
margin-top:1rem;
margin-bottom:1rem;
font-size:14px;
font-weight: bolder;
}

.action-button {
	margin: .5rem !important;
	padding-top:0.25rem !important;
	padding-bottom:0.25rem !important;
	font-size:12px !important;
}
.top-bar {
margin-top:2rem;
}

.filter-div {
	width: 25rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}